/* ===============
	    PRACE
	============= */

.portfolio h2 {
    width: 100%;
    text-align: center;
    font-size: 5rem;
    text-transform: uppercase;
}

.portfolio {
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio .site {
    width: 40%;
    margin: 2%;
    padding: 0% 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;

}

.portfolio .site h3 {
    font-size: 2rem;
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
    text-align: center;
    border: 3px solid rgb(37, 37, 37);
    background-color: rgb(37, 37, 37);
}


.portfolio .site img{
    width: 100%;
    transition: .4s;
}
.portfolio .site img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.portfolio .site .button{
    margin: 2%;
    padding: 2%;
    background-color: rgb(49, 49, 49);
    color: white;
    transition: .5s;
    font-family: sans-serif;
}

.portfolio .site .button:hover {
    background-color: black;
    color: rgb(235, 235, 235);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


/* Reviews from the customers */

.review {
    width: 100%;
    display: block;
    padding: 5%;
}
.review p {
    font-size: 1.2rem;
    color: rgb(37, 37, 37);;
}
    
.review p:before {
    content: url("images/user.svg");
    display: inline-block;
    margin-bottom: 5%;
    margin-right: 2%;
    background-color: white;
    border-radius: 50%;
}	

@media only screen and (max-width: 600px){

    .portfolio {
        width: 100%;
        padding: 2%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .portfolio .site {
        width: 90%;
        padding: 0;
        margin: 2.5% 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .portfolio .site h3 {
        width: 80%;
        text-align: center;
        margin: 0;
        padding: 0;
    }

    .portfolio .site img {
        max-width: 100%;
        display: block;
        margin: auto;
    }

}